#copyright {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0em 3em 0em;
  color: inherit;
  opacity: .40;

  a {
    text-decoration: none;
    color: inherit;
  }
}
