.dropotron {
  top: 2em;
  background: rgba(32, 32, 32, 0.75);
  border-radius: 4px;
  color: inherit;
  min-width: 12em;
  padding: 1em 0;
  color: white;

  > li {
    line-height: 2em;
    padding: 0 1em;

    &.active, &:hover {
      > a {
        color: inherit;
      }
    }
  }

  > a {
    color: inherit;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &.level-0 {
    border-radius: 0 0 4px 4px;
    font-size: 1em;
    margin-left: -0.5em;
  }
}
